<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />

    <title>Agregar Producto</title>
    <style>
      * {
        font-family: "Lobster", cursive;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/header')%>
    <h1>Agregar Nuevo Producto</h1>
    <br />
    <form action="/products" method="post">
      <label for="title">Título:</label>
      <input type="text" placeholder="Título" name="title" class="mx-2" />
      <label for="price">Precio:</label>
      <input type="number" placeholder="Precio" name="price" class="mx-2" />
      <label for="thumbnail">Imagen: </label>
      <input type="text" placeholder="Imagen" name="thumbnail" class="mx-2" />
      <button>Agregar Producto</button>
    </form>
    <%- include('../partials/footer')%>
  </body>
</html>
