<article>
  <h1>Agregar Nuevo Producto</h1>
  <form action="/products" method="post">
    <label for="title">Título:</label>
    <input type="text" placeholder="Nombre" name="title" />
    <label for="price">Precio:</label>
    <input type="number" placeholder="Precio" name="price" />
    <label for="thumbnail">Imagen: </label>
    <input type="text" placeholder="Imagen" name="thumbnail" />
    <button>Agregar Producto</button>
  </form>
</article>